---
import Layout from "../../layouts/Layout.astro";
import {getCollection} from "astro:content";
import MainCard from "../../components/MainCard.astro";

const articles = await getCollection('articles');

articles.map(article => {
});
---

<Layout title="Articles">
    <main>
        <section>
            <div class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3">
                {
                    articles.map((article) => (
                            <MainCard
                                    slug={`/articles/${article.data.shortPath}`}
                                    logo={article.data.logo}
                                    description={article.data.description}
                                    title={article.data.title}
                                    date={article.data.date}/>
                    ))
                }
            </div>
        </section>
    </main>
</Layout>
