---
const {slug, logo, description, title, date} = Astro.props;
---
<a href={`/articles/${slug}`} aria-label={description}>
    <div class="p-4 m-4 grayscale hover:grayscale-0 hover:duration-100 hover:ease-in-out flex flex-col items-center justify-center space-y-2 dark:border dark:border-zinc-800/40 rounded-md shadow-lg">
        <div>
            <img class="w-[300px]" src={logo}
                 alt={description}/>
        </div>
        <div>
            <span class="font-bold text-lg md:text-2xl uppercase">{title}</span>
        </div>
        <div class="pb-2">
            <span class="font-light text-sm">{date}</span>
        </div>
    </div>
</a>