---
import {getCollection} from "astro:content";
import ArticleCard from "../articles/ArticleCard.astro";
const articles = await getCollection('articles');
const sortedArticles = articles.sort((a, b) => b.data.date - a.data.date);
const latestArticles = sortedArticles.slice(0, 3);
---

<section class="">
    <h2>Recent Articles</h2>
    {
        latestArticles.map((article) => (
                <ArticleCard
                        slug={article.data.path}
                        logo={article.data.logo}
                        description={article.data.description}
                        title={article.data.title}
                        date={article.data.date}/>
        ))
    }
</section>
