---
import {getCollection} from "astro:content";
import MainCard from "../MainCard.astro";
const articles = await getCollection('articles');
const sortedArticles = articles.sort((a, b) => b.data.date - a.data.date);
const latestArticles = sortedArticles.slice(0, 3);
---

<section>
    <h2>Recent Articles</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3">
        {
            latestArticles.map((article) => (
                    <MainCard
                            slug={article.data.path}
                            logo={article.data.logo}
                            description={article.data.description}
                            title={article.data.title}
                            date={article.data.date}/>
            ))
        }
    </div>
</section>
