---
const {slug, logo, description, title, date} = Astro.props;
---
<a href={`${slug}`} aria-label={description}>
    <div class="p-2 py-4 m-2 flex flex-col items-center justify-center space-y-2 border border-zinc-700/30 hover:border-indigo-500 hover:scale-[102%] ease-in-out transition-all rounded-md shadow-md hover:shadow-2xl">
        <div>
            <img class="w-[300px]" src={logo}
                 alt={description}/>
        </div>
        <div>
            <h3 class="font-bold text-2xl uppercase">{title}</h3>
        </div>
        <div>
            <p class="px-4 text-zinc-400 text-sm">{description}</p>
        </div>
        <div class="pb-2">
            <p class="font-light text-sm text-center">{date}</p>
        </div>
    </div>
</a>