---
import Layout from "../../layouts/Layout.astro";
import {getCollection} from "astro:content";
import MainCard from "../../components/MainCard.astro";

const projects = await getCollection('projects');
---

<Layout title="Projects">
    <main>
        <section>
            <div class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3">
                {
                    projects.map((project) => (
                            <MainCard
                                    slug={`/projects/${project.data.shortPath}`}
                                    logo={project.data.logo}
                                    description={project.data.description}
                                    title={project.data.title}
                                    date={project.data.date}/>
                    ))
                }
            </div>
        </section>
    </main>
</Layout>
