---
import Layout from "../../layouts/Layout.astro";
import {getCollection} from "astro:content";
import MainCard from "../../components/MainCard.astro";

const portfolio = await getCollection('portfolio');
---

<Layout title="Portfolio">
    <main>
        <section class="card-tiles">
            {
                portfolio.map((project) => (
                        <MainCard
                                slug={project.data.shortPath}
                                logo={project.data.logo}
                                description={project.data.description}
                                title={project.data.title}
                                date={project.data.date}/>
                ))
            }
        </section>
    </main>
</Layout>
